.flag
  %h1 Local Communities Index
  %p= Faker::Lorem.paragraph

.row
  .col-md-4
    .block
      %a(href="#")
        %h1 Create account
      %p= Faker::Lorem.paragraph

  .col-md-4
    .block
      %a(href="#")
        %h1 Meetups calendar
      %p= Faker::Lorem.paragraph

  .col-md-4
    .block
      %a(href="#")
        %h1 Recomendations
      %p= Faker::Lorem.paragraph
