/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'font-awesome'
 *= require_tree .
 */
body {
  padding-top: 60px;
}
.flag {
  background-color: black;
  color: #ddd;
  padding: 3em;
  font-size: 2em;
  margin: -10px -70px;
  margin-bottom: 30px;

  h1 {
    color: lightgreen;
    text-wight: bold;
  }
}
input#top-search {
  border-radius: 0;
  border: none;
  font-size:1.3em;
  margin: 0;
  height: 50px;
  background: #ddd;
  &:focus {
    background: white;
  }
}
.form {
  box-shadow: 0 0px 7px #777;
  background-color: #eee;
  // color: #ddd;
  border-radius: 3px;
  position: relative;
  margin: 1em 0em;
  padding: 2em;
}
.block {
  color: #ddd;
  padding: 1em;
}
.bblock {
  box-shadow: 0 0px 7px black;
  background-color: #111;
  color: #ddd;
  border-radius: 3px;
  position: relative;
  margin: 1em 0em;
  box-shadow: 0 0px 7px #777;
  padding: 2em;
}
.avatar {
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 0px 30px #ddd;
  float: right;
  margin: 1em;
}
