%form.form(role="form")
  %h1 Register community
  %hr
  .form-group
    %label Title
    %input.input-lg.form-control(type = "text")/
  .form-group
    %label City
    %input.input-lg.form-control(type = "text")/
  .form-group
    %label Logo
    %input.input-lg.form-control(type = "file")/
  .form-group
    %label Description
    %textarea.input-lg.form-control
  %br
  %button.btn.btn-lg.btn-primary Save
