%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Menu
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"} Communify
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href => "#/communities"} Communities
      %li
        %a{:href => "#"} Meetups
      %li
        %a(href = "#/communities/new" style="background: darkgreen;" )
          %span.icon-plus
          Add new one
      %li
        %input#top-search.form-control{:placeholder => "Search", :type => "text"}/
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "/auth/twitter"}
          %span.icon-twitter
      %li.separator
      %li
        %a{:href => "/auth/google_oauth2"}
          %span.icon-google-plus
      %li
        %a{:href => "#/me"}
          %span.icon-facebook
      %li
        %a{:href => "/auth/github"}
          %span.icon-github
      %li
        %a{:href => "#/me"} Guest
